<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup function="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section function="BloonTowerMaker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <BloonTowerMaker.Properties.Settings>
            <setting function="LastTowerPath" serializeAs="String">
                <value />
            </setting>
            <setting function="RecentPaths" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <string>empty</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting function="MaxRecentPaths" serializeAs="String">
                <value>5</value>
            </setting>
        </BloonTowerMaker.Properties.Settings>
    </userSettings>
</configuration>